#optionsDiv{
  display: none;
  text-align: center;
  padding-top: 3%;
}
.row{
  margin-left: 3%;
}
#moneyChanger{
  display: none;
}
/*#displayDiv{
  display: none;
}*/
#userAccountForm{
  display: none;
}
#bankAccountLogin{
  display: none;
}
#landing{
  padding-top: 3%;
  text-align: center;
}
#welcome-message, #balance-message, #balance-display{
  text-align: center;
}
