#optionsDiv{
  display: none;
}
.row{
  margin-left: 3%;
}
#moneyChanger{
  display: none;
}
/*#displayDiv{
  display: none;
}*/
#userAccountForm{
  display: none;
}
#bankAccountLogin{
  display: none;
}
#landing{
  padding-top: 3%;
}
